@page
@model Rema1000LagerStyringsSystem.StatisticIndexModel
@using Rema1000LagerStyringsSystem.Interface
@inject IItem repository
@{
    ViewData["Title"] = "StatisticIndexModel";
}
<h1>Statistik</h1>

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Varekategori
            </th>
            <th>
                Mærke
            </th>
            <th>
                Navn
            </th>
            <th>
                Pris
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.itemList)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.StorageType
                </td>
                <td>
                    @item.Brand
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <p>
                        <a asp-page="ItemUpdate" asp-route-id="@item.Id">Redigere</a>
                    <p></p>
                    <a asp-page="ItemDelete" asp-route-id="@item.Id">Slet</a>
                    </p>
                </td>
            </tr>
        }

    </tbody>

</table>