@page
@model Rema1000LagerStyringsSystem.Pages.Itemcrud.ItemPrintModel
@using Rema1000LagerStyringsSystem.Interface
@inject IItem repository
@{
    ViewData["Title"] = "ItemPrintModel";
}
<h1>Alle varer</h1>

<p>
    <a asp-page="ItemCreate">Create New Item</a>
</p>

<form>
    <p>
    Search: <input type="text" asp-for="FilterCriteria" />
    <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Varekategori
            </th>
            <th>
                Navn
            </th>
            <th>
                Pris
            </th>
            <th>
                Mærke
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.itemList)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.StorageType
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Brand
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <p>
                        <a asp-page="ItemUpdate" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="ItemDelete" asp-route-id="@item.Id">Delete</a>
                    </p>
                </td>
            </tr>
        }

        </tbody>

        </table>