@page
@model Rema1000LagerStyringsSystem.Pages.Itemcrud.ItemCreateModel
@{
    ViewData["Title"] = "ItemCreate";
}
<h1>Create item</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.item.Id" class="control-label">ID</label>
        <input asp-for="@Model.item.Id" class="form-control" />
        <span asp-validation-for="@Model.item.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.item.Name" class="control-label">Name</label>
        <input asp-for="@Model.item.Name" class="form-control" />
        <span asp-validation-for="@Model.item.Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.item.Price" class="control-label">Price</label>
        <input asp-for="@Model.item.Price" class="form-control" />
        <span asp-validation-for="@Model.item.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.item.Mærke" class="control-label">Pizza</label><p></p>
        <select class="form-group" asp-for="@Model.item.Mærke" asp-items="@Model.PizzaList">
            <option value="">Select pizza</option>
        </select>
        <span asp-validation-for="@Model.item.Mærke" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

</form>